In [515]:
import pandas as pd

In [516]:
df_forecast = pd.read_csv('../../dataset/averaged_forecast-yogyakarta.csv').head(5)
df_period = pd.read_csv('../../dataset/period3_ch_psh.csv')

In [517]:
def remove_kab(kabupaten):
    kota = kabupaten.replace('Kab. ', "")
    if kota == 'Gunung Kidul':
        kota = kota.replace('Gunung Kidul', 'Gunungkidul')
    return kota

In [518]:
df_forecast

,ID Lokasi,Nama Daerah,Kabupaten/Kota,Provinsi,rata_rata_temp,rata_rata_humi
0,501186,Bantul,Kab. Bantul,DI Yogyakarta,26.940171,76.871795
1,501187,Sleman,Kab. Sleman,DI Yogyakarta,26.068376,78.658120
2,501188,Wates,Kab. Kulon Progo,DI Yogyakarta,26.418803,80.435897
3,501189,Gunung Kidul,Kab. Gunung Kidul,DI Yogyakarta,26.504274,76.452991
4,501190,Yogyakarta,Kota Yogyakarta,DI Yogyakarta,27.136752,75.923077

In [519]:
df_forecast['Id Kabkot'] = df_forecast['Kabupaten/Kota'].apply(remove_kab)

In [520]:
df_merged = pd.merge(df_period, df_forecast[['Id Kabkot', 'rata_rata_temp', 'rata_rata_humi']], on='Id Kabkot')

In [521]:
df_merged = df_merged.drop(columns=['Id Kabkot'])

In [522]:
df_cleaned = df_merged.drop_duplicates()

print(len(df_cleaned))

106

In [523]:
df_merged.to_csv('../../dataset/period3_psch_ht.csv', index=False)