In [1]:
import pandas as pd

In [2]:
df_nov_diy = pd.read_csv('../../dataset/pch_full_data_nov.csv')
df_des_diy = pd.read_csv('../../dataset/pch_full_data_des.csv')
df_jan_diy = pd.read_csv('../../dataset/pch_full_data_jan.csv')

In [5]:
df_combined = pd.merge(df_nov_diy, df_des_diy, on=['LAT', 'LON', 'Id Kabkot', 'Id Prov'], suffixes=('_nov', '_des'))

df_combined = pd.merge(df_combined, df_jan_diy, on=['LAT', 'LON', 'Id Kabkot', 'Id Prov'])

df_combined = df_combined.rename(columns={'Bulan': 'Bulan_jan','KategoriCH': 'KategoriCH_jan', 'KelasCH': 'KelasCH_jan', 'CH': 'CH_jan', 'KategoriSH': 'KategoriSH_jan', 'KelasSH': 'KelasSH_jan', 'SH': 'SH_jan'})

,LAT,LON,KelasCH,Bulan,Id Kabkot,Id Prov,KategoriCH,CH,KategoriSH,KelasSH,SH
0,-8.15,110.65,300 - 400 mm,NOV,Gunungkidul,Daerah Istimewa Yogyakarta,Tinggi,393.8471,Atas Normal,115% - 150%,146.8686
1,-8.15,110.70,300 - 400 mm,NOV,Gunungkidul,Daerah Istimewa Yogyakarta,Tinggi,362.0146,Atas Normal,115% - 150%,145.6304
2,-8.15,110.75,300 - 400 mm,NOV,Gunungkidul,Daerah Istimewa Yogyakarta,Tinggi,328.8475,Atas Normal,115% - 150%,144.7750
3,-8.10,110.45,300 - 400 mm,NOV,Gunungkidul,Daerah Istimewa Yogyakarta,Tinggi,369.9546,Atas Normal,115% - 150%,140.7877
4,-8.10,110.50,300 - 400 mm,NOV,Gunungkidul,Daerah Istimewa Yogyakarta,Tinggi,358.7983,Atas Normal,115% - 150%,140.8368
...,...,...,...,...,...,...,...,...,...,...,...
101,-7.65,110.40,400 - 500 mm,JAN,Sleman,Daerah Istimewa Yogyakarta,Tinggi,480.2586,Normal,85% - 115%,112.5860
102,-7.65,110.45,400 - 500 mm,JAN,Sleman,Daerah Istimewa Yogyakarta,Tinggi,469.3337,Normal,85% - 115%,111.7889
103,-7.60,110.40,400 - 500 mm,JAN,Sleman,Daerah Istimewa Yogyakarta,Tinggi,480.2144,Normal,85% - 115%,111.8258
104,-7.60,110.45,400 - 500 mm,JAN,Sleman,Daerah Istimewa Yogyakarta,Tinggi,479.4522,Normal,85% - 115%,111.3926
105,-7.55,110.45,400 - 500 mm,JAN,Sleman,Daerah Istimewa Yogyakarta,Tinggi,482.9361,Normal,85% - 115%,110.4115

In [62]:
df_combined['Curah_Hujan_Rata'] = df_combined[['CH_nov', 'CH_des', 'CH_jan']].mean(axis=1)
df_combined['Sifat_Hujan_Rata'] = df_combined[['SH_nov', 'SH_des', 'SH_jan']].mean(axis=1)

In [63]:
df_combined.to_csv('../../dataset/period3_ch_psh.csv', index=False)